
<h4>Editing Device Details</h4>

<%= render 'form', devicedetail: @devicedetail %>
<br/>
<!--<%= link_to 'Show', @devicedetail, class:"btn btn-dark" %>-->
<%= link_to 'Back', new_devicedetail_path, class:"btn btn-dark" %>
